<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Libros UCE</a>
        <a class="navbar-brand" href="registro.html">Registro del usuario</a>
        <a class="navbar-brand" href="login.html">Login</a>
        <a class="navbar-brand" href="categorias.html">Categorias</a>   
    </nav>
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a la Biblioteca Virtual</h1>
        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../statics/Libro1.jpg" class="card-img-top" alt="Libro 1">
                    <div class="card-body">
                        <h5 class="card-title">El Principito</h5>
                        <p class="card-text">A pesar de ser considerado un libro para niños, "El Principito" contiene profundas reflexiones filosóficas y metafóricas que también resuenan en los adultos</p>
                        <a href="Libro1.html" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../statics/Libro2.jpg" class="card-img-top" alt="Libro 2">
                    <div class="card-body">
                        <h5 class="card-title">El Hombre que Calculaba</h5>
                        <p class="card-text">Es una novela que narra las aventuras de Beremiz Samir, un personaje ficticio, y los diversos encuentros y desafíos matemáticos que enfrenta.</p>
                        <a href="Libro2.html" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Creado por: John Guerra©</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>