<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Libro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="../statics/Libro1.jpg" class="img-fluid" alt="Libro 1">
            </div>
            <div class="col-md-8">
                <h2>El Principito</h2>
                <p><strong>Autor:</strong> Antoine de Saint-Exupéry</p>
                <p><strong>Categoría:</strong> Infantil</p>
                <p><strong>Descripción:</strong> La historia sigue las aventuras de un piloto que se estrella en el desierto del Sahara y se encuentra con un pequeño príncipe que proviene de otro planeta. A medida que el piloto arregla su avión, el pequeño príncipe comparte con él sus experiencias de viaje por diferentes planetas, cada uno habitado por un personaje singular y con una visión única de la vida. A través de estas conversaciones, el libro explora temas como la amistad, el amor, la soledad, la responsabilidad y el significado de la vida.</p>
                <button class="btn btn-primary">Descargar PDF</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <a href="index.html" class="btn btn-secondary">Volver al Inicio</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>